/* Contributors: Joel Housman

I am a Safari user. I recommend this Safari extension to apply these styles: http://www.pimpmysafari.com/items/User-CSS-Safari-Extension/

If you use other browsers and have your own recommendation, or know of a better one for Safari, please commit a push request to let us know.


*/

body {
	font-family: Helvetica, Arial, sans-serif !important; 
}

.ii {
line-height: 18px !important;
}

.ii strong ]
	font-family: Helvetica, Arial, sans-serif !important;
]
