/* Contributors: Joel Housman (@joelhousman), Mike Rundle (@flyosity)

I am a Safari user. I recommend this Safari extension to apply these styles: http://www.pimpmysafari.com/items/User-CSS-Safari-Extension/

If you use other browsers and have your own recommendation, or know of a better one for Safari, please commit a push request to let us know.


*/

html, body {
    background: #f3f3f3;
    padding: 0;
    color: #555;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pagecont {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
    width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    -webkit-box-shadow: #ddd 0 1px 5px;
    -moz-box-shadow: #ddd 0 1px 5px;
    box-shadow: #ddd 0 1px 5px;
}

.topline {
    display: none;
}

#thisdate {
    padding-left: 15px;
    font-size: 12px;
}

.navbar {
    display: none;
}

#topcol23 {
    display: none;
}

#topcol1 {
    width: inherit;
    padding: 0 25px 0 0;
    margin: 0;
}

#topcol1 h2 {
    display: none;
}

.shrtbl, .shrtbl * {
    font: bold 11px "Lucida Grande", "Verdana", sans-serif ;
}

.item .ii {
    font: normal 12px/1.4em "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
}

.item .ii strong {
    position: relative;
    top: -1px;
    font: bold 20px/1.0em "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.item .dbpt {
    font: normal 12px/1.4em "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
}

.item .dbpt .drhed {
    font: bold 12px/1.5em "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
}

#botcol1 {
    display: none;
}

#botcol2 {
    display: none;
}